.dashboard-page {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.dashboard-content {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column; 
  position: relative; 
  border: 1px solid #2e2e2e; 
  border-radius: 20px; 
  padding: 5px; 
}

.search{
  position: relative; 
}

.location-input {
  flex-grow: 1;
  padding: 15px; 
  font-size: 16px;
  z-index: 1; 
  border: none; 
  background-color: transparent; 
  color: black;
}

.location-input:focus {
  outline: none; 
  border: none; 
  background-color: transparent; 
}

.search-button {
  padding: 10px 20px;
  color: rgb(77, 77, 77);
  font-size: 16px;
  border: none; 
}

.search-button:hover {
  color: rgb(39, 39, 39);
}

.suggestions-list {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: white; 
  position: absolute; 
  z-index: 1000; 
  width: calc(100% - 20px);
  max-height: 200px; 
  overflow-y: auto; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 5px; 
}

.suggestion-item {
  padding: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff; 
  border-bottom: 1px solid #e0e0e0;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #e0f7fa; 
  color: #00796b;
}